.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profile-photo {
  width: 240px;
  height: 170px;
  border-radius: 32px;
}

.wrapper {
  display: flex;
  width: 550px;
  padding: 20px;
  gap: 16px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.date {
  color: darkslategray;
  font-weight: 600;
  font-size: 14px;
}

.date-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
